.esri-view {
    height: 500px;
  }

  .map-container {
    height: 500px;
    width: 100%;
    position: relative;
  }
  
  .esri-popup {
    position: absolute !important;
    z-index: 1000 !important;
    background-color: white; /* Set the background color you desire */
    border: 1px solid #ccc; /* Add border if needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
  }
  
  /* Customize the content area background */
  .esri-popup__main-container {
    background-color: white; /* Set the background color you desire */
  }
  
  /* Customize the arrow color (if applicable) */
  .esri-popup__pointer {
    border-bottom-color: white; /* Set the arrow color to match the background */
  }

  .map-button {
    background-color: #0079c1;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .map-button:hover {
    background-color: #0056b3;
  }
  
  .map-button:hover {
    background-color: #005fa3;
  }
