.esri-view {
    height: 500px;
  }

  .map-container {
    height: 500px;
    width: 100%;
    position: relative;
  }
  
  .esri-popup {
    position: absolute !important;
    z-index: 1000 !important;
    background-color: white; /* Set the background color you desire */
    border: 1px solid #ccc; /* Add border if needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
  }
  
  /* Customize the content area background */
  .esri-popup__main-container {
    background-color: white; /* Set the background color you desire */
  }
  
  /* Customize the arrow color (if applicable) */
  .esri-popup__pointer {
    border-bottom-color: white; /* Set the arrow color to match the background */
  }

  .map-button {
    background-color: #0079c1;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .map-button:hover {
    background-color: #0056b3;
  }
  
  .map-button:hover {
    background-color: #005fa3;
  }

  #star-button-container {
    text-align: center; /* Center the button in the popup */
    padding: 5px; /* Add some padding around the button */
  }
  
  /* Styles for the favorite button placeholder */
  .favorite-button-placeholder {
    background-color: #007bff; /* Blue background for the placeholder */
    color: white; /* White text */
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.9em; /* Slightly smaller font size */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  }
  
  .favorite-button-placeholder:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }

  .layerButton {
    font-family: 'Arial', sans-serif; /* Change the font family */
    font-size: 16px;
    padding: 12px 20px;
    text-transform: uppercase;
    background-color: #3498db; /* Blue background color */
    color: #ffffff; /* White text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    margin: 10px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle lift */
    outline: none; /* Remove default focus outline */
    height: 40px;
}

.layerButton:hover {
    background-color: #2980b9; /* Darker blue on hover */
    color: #ffffff; /* Maintain white text color on hover */
    transform: translateY(-2px); /* Move the button up slightly on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Increased box shadow on hover for depth */
}

.layerButton:active {
    background-color: #1f6da0; /* Even darker blue on active/clicked state */
    transform: translateY(1px); /* Move the button down slightly when clicked */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Reduce box shadow on active state */
}

